nav{
	height: 15vh;
}
.seccion-principal{
	height: 80vh;
}
*{
	box-sizing: border-box;
	margin: 0;
}

body{	
	background: #aaa!important;	
}

nav>a, nav li>a{
	color: #fff!important;
}

.modal-header{
	text-align: center!important;
}

footer p{
	font-size: 0.9em;
	width: 100%;
	background: ##D171FF;
	color: #eee;
	margin-top: 25px;
}

